@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 color: #000;
 background: #efeeee;
}

html,
[data-theme="dark"] body,
.dark body {
 color: #fff;
 background: #262626;
}

.padding {
 @apply px-3 sm:px-8;
}

@keyframes animateModalOpen {
 from {
  opacity: 0;
  transform: translateY(-500px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}

@keyframes animateModalClose {
 from {
  opacity: 1;
  transform: translateY(0);
 }
 to {
  opacity: 0;
  transform: translateY(500px);
 }
}

.closing-animation {
 animation: animateModalClose 0.4s;
}

.opening-animation {
 animation: animateModalOpen 0.4s forwards;
}
